<div class="table-left table-flex">
    <h1>Tests</h1>
    <div class="content-table">
        <table class="table table-dark">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Timer</th>
                </tr>
            </thead>
            <tbody class="js-body-test">
                <% tests.forEach((test) => { %>
                <tr class="js-test" onclick="clickTest(this,`<%= test._id %>`)">
                    <td> <%= test._id %> </td>
                    <td><%= test.name %> </td>
                    <td><%= test.timer %> </td>
                    <td>
                        <div class="dropdown">
                            <img class="three_dot dropdown-toggle" src="../../Resource/icon/feedmenu.png"
                                id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="dropdown-menu">
                                <a class="dropdown-item" data-toggle="modal" data-target="#testModal"
                                    data-whatever="@mdo"
                                    onclick="updateUITest(`<%=test._id%>`,`<%=test.name%>`,`<%= test.timer%>`)">Update</a>
                                <a class="dropdown-item" href="#" onclick="updateRun(this,`<%= test._id%>`,`<%= test.open%>`)" ><%= test.open == true?"Stop":"Run"%></a>
                                <a class="dropdown-item" href="#" onclick="deleteTest(`<%= test._id%>`)">Delete</a>
                            </div>
                        </div>
                    </td>
                </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
</div>


<div class="modal fade" id="testModal" tabindex="-1" role="dialog" aria-labelledby=""
aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Timer</label>
                        <input type="number" class="form-control" id="recipient-name">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="sendTestID" data-dismiss="modal">Send</button>
            </div>
        </div>
    </div>
</div>